.greyBox{
    float:left;
    background-color:grey;
    font-size: 35%;
    font-weight: bold;
    width: 8%; 
    padding: 2%;
    margin-left:1%;
    margin-bottom: 2%;
  
   
   
   
}
