.redBox{
    float:left;
    color: white;
    background-color:firebrick;
    font-size: 40%;
    width: 15%; 
    padding: 1%;
    margin-left:4%;
    margin-bottom: 2%;
  
   
   
   
}