.EOlabLogo
{

    content: url(./resources/EOlab\ logo.png);
   top:0;
     background: #fff;
     background-color: #fff; 
     height: 100%;
     width: 100%;
     
         z-index: -1;
     position: absolute;
           top: 0%;
           left: 0%;
    
    
       justify-content: left;
   
   }